@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --clr-main: #52489c;
  --clr-accent: #59c3c3;
  --clr-bg: #ebebeb;
  --clr-dark: #333;
  --font-main: Arial, Helvetica, sans-serif;
  --font-alt: "Mooli", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--clr-bg);
  color: var(--clr-dark);
  line-height: 1.4;
}

header,
footer {
  background-color: var(--clr-main);
  color: white;
  text-align: center;
  padding: 1rem;
}

h1,
h2 {
  font-family: var(--font-alt);
  margin: 0.5em 0;
}

.toggle-nav {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-links a {
  color: white;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 0.9rem;
}


.hidden {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.gallery figure {
  margin: 0;
  border: 5px solid white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.gallery img {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

dialog.viewer {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

dialog.viewer img {
  width: 90%;
  max-height: 80%;
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  background: white;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

@media (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  }
}

@media (min-width: 1000px) {
  .toggle-nav {
    display: none;
  }

  .nav-links {
    flex-direction: row;
    justify-content: center;
  }

  .nav-links a {
    margin: 0 1rem;
  }
}
